# Xcode
DerivedData/
.idea/
xcuserdata/
*.xcworkspace/
*.xccheckout
*.moved-aside
*.xcuserstate

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/
Carthage/Checkouts
Carthage/Build

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Archives
*.xcarchive

# Swift Playgrounds
timeline.xctimeline
playground.xcworkspace

# Certificates and Keys
*.p12
*.mobileprovision
*.xcconfig

# Logs
*.log
*.ds_store

# Environment Variables
.env
.env.*

# Firebase & Google Services
GoogleService-Info.plist
firebase-debug.log
